.header-nav-bar {
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  width: 95% !important;
}

.header-nav-bar > div {
  background-color: #0CDF92;
  border-radius: 8px;
  width: 33%;
  margin: 10px;
  padding: 2px 10px;
  text-align: center;
}

.header-nav-bar a {
  color: #181E1C;
  font: 30px "cordova";
  text-decoration: none;
  text-decoration-color: inherit;
}